$logo-url = $img-path + 'img.png'

.vmg-logo
  cursor: pointer

.vmg-logo__logo-span
  margin-top: 4px
  display: block
  background-image: url('' + $logo-url + '')
  background-size: 333px 147px
  background-position: -70px -114px
  height: 33px
  width: 92px
