.movie-records-col
  border: 1px solid #111

.movie-records-col__header
  text-align: center
  background: #444
  color: #eee
  padding: 4px

.movie-records-col__workspace
  background: #eee
  padding: 4px
