.crt-notif-wrap
  background: $brand-warning
  position: relative
  margin-top: 6px
  border-radius: 5px

.crt-notif-wrap__close
  position: absolute
  top: 6px
  right: 6px
  cursor: pointer
  color: $link-color
    &:hover
      color: $link-hover-color

.crt-notif-wrap__notif
  padding: 8px
  color: #fff
  display: none
