$prv-img-width = 100px

.shw-movie--author__preview-img
  width: $prv-img-width
  background: black
  float: left
  display: block

.shw-movie--author__header-wrap
  clearfix()

.shw-movie--author__name
  word-wrap: break-word;
  margin-left: $prv-img-width + 16px
  margin-top: 0
  margin-right: 0
  margin-bottom: 0

.shw-movie--author__finished-str
  margin-left: 8px

.shw-movie--author__duration-of-episodes-str
  margin-left: 8px

.shw-movie--author__prolong-fnc
  button-schema()
  button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)
  display: none
  
.shw-movie--author__edit-fnc
  button-schema()
  button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)
  display: none
  
.shw-movie--author__remove-fnc
  button-schema()
  button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)
  display: none
