@import '../../global.styl'

.auth-login
  padding: 0
  width: 300px
  padding: 8px

.auth-login__header
  text-align: center
  font-size: 1.4rem

.auth-login__btn-wrap
  width: 80%
  margin: 8px auto;

.auth-login__auth-button
  width: 100%
  padding: 8px 4px
  color: white
  border-radius: 2px

.auth-login__auth-button_social_fb
  background: linear-gradient(blue, black)
  &:hover
    background: linear-gradient(lighten(blue, 10%), gray)

.auth-login__auth-button_social_goog
  background: linear-gradient(red, black)
  &:hover
    background: linear-gradient(lighten(red, 10%), gray)
  
.auth-login__auth-button_social_dev
  background: linear-gradient(gray, black)
  &:hover
    background: linear-gradient(lighten(black, 10%), gray)
