/**
 * Popup for a main menu
 *    Hide by default
 */
.menu-popup
  display: none
  popup-back()

.menu-popup__space
  popup-space(80%)

.menu-popup__close
  popup-close()

.menu-popup__close-icon
  vmg-glyph("\e014")