page()
  margin: 0
  padding: 0

page__header()
  padding: 0
  background: $over-color
  border-bottom: 1px solid #ccc

page__footer()
  margin: 20px 0 10px 0
  font-size: 0.8rem
  color: #555
  text-shadow: #fff 1px 1px 
  text-align: center


//  font-family: $font-family-base
//  font-size: $font-size-base
//  line-height: 1.2rem
//  background: $body-bg