@import '../../global'

.auth-pre-button
  margin: 4px 0;

.auth-pre-button__button
  button-schema();
  button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)
  width: 160px

.auth-pre-button__icon
  vmg-glyph('soc')
  font-size: 1.1rem
  color: #ccc

.auth-pre-button__lbl
  margin-right: 8px
  font-size: 1.1rem
  color: #ccc
