.upl-selector
  height: 100%
  border: 2px dashed $link-color

.upl-selector__file-wrap
  margin: auto
  top: 0
  left: 0
  right: 0
  bottom: 0
  height: 70px
  overflow: auto
  position: absolute
  text-align: center

.upl-selector__file-opener
  color: $link-color
  font-size: 2.0rem
  cursor: pointer
    &:hover
      color: $link-hover-color

.upl-selector__description
  margin-top: 8px

.upl-selector__file-input
  display: none
