.att-info
  padding: 8px 2px
  box-shadow:  aliceblue 5px 5px 6px

// img
.att-info__preview
  width: 100px
  cursor: pointer
  border: 1px solid #cecece
  &:hover
    border: 1px solid #aaa  

.att-info__moder-rating
  margin-left: 4px
  color: #222
  font-size: 1.2rem
  
  
