@import '../../global'

.auth-profile
  clearfix()
  padding: 2px 0

.auth-profile__display-name
  padding: 8px
  float: right
  color: $link-color
    &:hover
      color: $link-hover-color

.auth-profile__logout
  padding: 3px
  color: $link-color
  float: right
  margin-left: 8px
  cursor: pointer
  font-size: 1.6rem
    &:hover
      color: $link-hover-color

.auth-profile__link-to-upload
  button-schema()
  button-variant($btn-default-color, $btn-default-bg, $btn-default-border)

.auth-profile__logout-icon
  vmg-glyph()