.auth-profile
  clearfix()

.auth-profile__display-name
  padding: 6px
  float: right

.auth-profile__logout
  padding: 2px
  color: $link-color
  float: right
  margin-left: 8px
  cursor: pointer
  font-size: 1.2rem
    &:hover
      color: $link-hover-color
