.vmg-logo
  cursor: pointer

.vmg-logo__logo-span
  display: block
  background-image: url('/static/img.png')
  background-size: 333px 147px
  background-position: -70px -114px
  height: 33px
  width: 92px
