.shw-episode
  margin-bottom: 12px
  border-bottom: 1px dashed #ccc

.shw-episode__order-in-movie
  margin-left: 8px

.shw-episode__name
  margin-left: 8px
  word-wrap: break-word

.shw-episode__count-wrap
  margin-top: 4px

.shw-episode__count-of-bids
  margin-left: 8px

.shw-episode__count-of-variants-header
  margin-left: 8px

.shw-episode__count-of-variants
  margin-left: 8px

.shw-episode__conds-wrap
  margin-top: 6px

.shw-episode__conds
  word-wrap: break-word
  margin-left: 8px

.shw-episode__story
  word-wrap: break-word
  
.shw-episode__fnc-tweet-story
  button-schema()
  button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)
  display: none

.shw-episode__fnc-show-attachments
  button-schema()
  button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)
  display: none

.shw-episode__fnc-upload-later
  button-schema()
  button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)
  display: none

.shw-episode__fnc-upload-now
  button-schema()
  button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)
  display: none
