.shw-episode
  margin-bottom: 12px
  border-bottom: 1px dashed #ccc

.shw-episode__order-in-movie
  margin-left: 8px

.shw-episode__name
  margin-left: 8px

.shw-episode__count-wrap
  margin-top: 4px

.shw-episode__count-of-bids
  margin-left: 8px

.shw-episode__count-of-variants-header
  margin-left: 8px

.shw-episode__count-of-variants
  margin-left: 8px

.shw-episode__conds-wrap
  margin-top: 6px

.shw-episode__conds
  margin-left: 8px
