// States of this block: 
// 0 not-rated
// 1 rated-bad
// 2 rated-good
// 3 not-best
// 4 best
// box-shadow-color may change too different of type of a block
.att-info-2
  padding: 8px 2px
  box-shadow:  green 5px 5px 6px
  
// img
.att-info-2__preview
  width: 100px
  cursor: pointer
  border: 1px solid #cecece
  &:hover
    border: 1px solid green

// if a rating exists
.att-info-2__moder-rating
  margin-left: 4px
  color: green
  font-size: 1.2rem

// if rating - is good
// after clicking and approving - disable all others - rebuild all blocks
.att-info-2__fnc-gold
  button-schema()
  button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)

.att-info-2__fnc-silver
  button-schema()
  button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)

.att-info-2__fnc-bronze
  button-schema()
  button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)

.att-info-2__fnc-rate-none
  button-schema()
  button-variant($btn-default-color, $btn-default-bg, $btn-default-border)
