$prv-margin-top = 8px

.crt-movie-template
  padding: 6px

.crt-movie-template__name
  font-weight: normal

//  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
.crt-movie-template__inp-name
  width: 100%
    &:focus
      box-shadow: $box-shadow-primary

.crt-movie-template__inp-name_state_warning
  border: 1px solid $brand-warning
    &:focus
      box-shadow: $box-shadow-warning

.crt-movie-template__genre
  margin-top: $prv-margin-top

.crt-movie-template__duration-of-episodes
  margin-top: $prv-margin-top

.crt-movie-template__inp-duration-of-episodes
  width: 100%
  padding: 4px

.crt-movie-template__slc-preview-img
  margin-top: $prv-margin-top

.crt-movie-template__inp-preview-img
  width: 100%
  padding: 4px
