.crt-movie-template
  padding: 0

.crt-movie-template__name
  font-weight: normal

.crt-movie-template__inp-name
  width: 100%

.crt-movie-template__duration-of-episodes
  margin-top: 8px

.crt-movie-template__inp-duration-of-episodes
  width: 100%
  padding: 4px

.crt-movie-template__slc-preview-img
  margin-top: 8px

.crt-movie-template__inp-preview-img
  width: 100%
  padding: 4px
