@import "./bsp"

// Indexes
$index-popup  = 9999

$font-family-base = 'Open Sans', sans-serif
$font-size-base   = 16px

$body-bg      = #eee

$brand-default = #fefefe
$brand-warning = darkorange

// Color for over-wrap blocks
$over-color   = #fff
$over-padding = 6px  // imitation of padding of over-wrap, but this style for inner elements (to hide over-wrap - when hide all inner elements)

$box-shadow-primary = inset 0 1px 1px $brand-primary, 0 0 1px $brand-primary
$box-shadow-danger  = inset 0 1px 1px $brand-danger, 0 0 1px $brand-danger
$box-shadow-warning  = inset 0 1px 1px $brand-warning, 0 0 1px $brand-warning

$border-radius-base =       2px
$border-radius-large =      4px
$border-radius-small =      1px

// Button padding
$padding-base-horizontal =  6px
