@import "./bsp"

// Indexes
$index-popup  = 9999

$font-family-base = 'Open Sans', sans-serif
$font-size-base   = 16px

$body-bg      = #eee

// Color for over-wrap blocks
$over-color   = #fff
$over-padding = 6px

$box-shadow-primary = inset 0 1px 1px $brand-primary, 0 0 1px $brand-primary
$box-shadow-danger  = inset 0 1px 1px $brand-danger, 0 0 1px $brand-danger
$box-shadow-warning  = inset 0 1px 1px $brand-warning, 0 0 1px $brand-warning
