// States of this block: 
// 0 not-rated
// 1 rated-bad
// 2 rated-good
// 3 not-best
// 4 best
// box-shadow-color may change too different of type of a block
.att-info-4
  padding: 8px 2px
  box-shadow: gold 5px 5px 6px
  
// img
.att-info-4__preview
  width: 100px
  cursor: pointer
  border: 1px solid #cecece
  &:hover
    border: 1px solid gold

// if a rating exists
.att-info-4__moder-rating
  margin-left: 4px
  color: gold
  font-size: 1.2rem

.att-info-4__fnc-rate-none
  button-schema()
  button-variant($btn-default-color, $btn-default-bg, $btn-default-border)
