.menu-view
  position: relative

.menu-view__close
  font-size: 1.3rem
  position: absolute
  top: 0
  right: 0
  cursor: pointer
  color: link_color
  &:hover
    color: link_color_hover

.menu-view__header
  font-size: 1.1rem
  margin-bottom: 3px

.menu-view__list
  padding: 1px
