.att-manager
  padding: 4px

.att-manager__fnc-good
  button-schema()
  button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)

.att-manager__fnc-bad
  button-schema()
  button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)

.att-manager__fnc-best
  button-schema()
  button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)
