.movie-genres
  border: 1px solid #eef

.movie-genres__item
  display: block
  padding: 2px 8px 0 2px
  border: 1px solid #eef
    &:hover
      background: #eef

//.movie-genres__checker

.movie-genres__icon
  padding-top: 4px
  float: right
  font-size: 1.4rem
