.movie-genres
  border: 1px solid #eef

.movie-genres__item
  display: block
  padding: 4px 8px 4px 2px
  border: 1px solid #eef
    &:hover
      background: #eef

.movie-genres__icon
  float: right
