@import "../../global"

.page-explore
  page()

.page-explore__header
  page__header()

.page-explore__footer
  page__footer()

.page-explore__col-main-wrap
  over-wrap()

.page-explore__col-side-wrap
  over-wrap()