@import '../../global'

.site-header__call-logo-wrap
  clearfix()

.site-header__call-wrap
  float: left

.site-header__logo-wrap
  float: left

.site-header__auth-wrap
  clearfix()

.site-header__auth-no-wrap
  float: right