.tooltip
  position: absolute
  top: 14px
  right: 12px
  z-index: 1000
  padding: 0 4px
  background: #ffe
  border: 1px solid #eee
  border-radius: 8px 0
  width: 120px
  line-height: 1.2rem
  font-size: 0.9rem
  color: #555
