.crt-episode
  margin-bottom: 12px

.crt-episode__header
  font-weight: normal

.crt-episode__inp-name
  width: 100%

.crt-episode__inp-story
  width: 100%
  height: 130px

.crt-episode__inp-conditions
  width: 100%
