$prv-icon-width = 17px
$prv-icon-margin = 3px
$prv-inp-width = calc(100% \- 20px)
$prv-icon = $brand-warning
$prv-hover-icon = darken($prv-icon, 10%)

.crt-episode
  margin-bottom: 6px

.crt-episode__header
  font-weight: normal

.crt-episode__inp-name
  width: $prv-inp-width
    &:focus
      box-shadow: $box-shadow-primary

.crt-episode__inp-story
  display: block
  float: left
  width: $prv-inp-width
  height: 130px
    &:focus
      box-shadow: $box-shadow-primary

.crt-episode__inp-conds
  width: $prv-inp-width
    &:focus
      box-shadow: $box-shadow-primary

.crt-episode__help-name
  display: none  
  color: $prv-icon
  font-size: $prv-icon-width
  margin-left: $prv-icon-margin
  cursor: pointer
    &:hover
      color: $prv-hover-icon

.crt-episode__help-story
  display: none  
  color: $prv-icon
  font-size: $prv-icon-width
  margin-left: $prv-icon-margin
  cursor: pointer
    &:hover
      color: $prv-hover-icon

.crt-episode__help-conds
  display: none  // by default - hide (allow empty)
  color: $prv-icon
  font-size: $prv-icon-width
  margin-left: $prv-icon-margin
  cursor: pointer
    &:hover
      color: $prv-hover-icon

.crt-episode__inp-name-wrap
  position: relative
  clearfix()

.crt-episode__inp-story-wrap
  position: relative
  clearfix()

.crt-episode__inp-conds-wrap
  position: relative
  clearfix()

.crt-episode__tooltip-name
  display: none

.crt-episode__tooltip-story
  display: none

.crt-episode__tooltip-conds
  display: none
