.crt-episode
  padding: 6px
  margin-bottom: 6px

.crt-episode__header
  font-weight: normal

.crt-episode__inp-name
  width: 100%
    &:focus
      box-shadow: $box-shadow-primary

.crt-episode__inp-name_state_warning
  border-color: $brand-warning

.crt-episode__inp-story
  width: 100%
  height: 130px
    &:focus
      box-shadow: $box-shadow-primary

.crt-episode__inp-story_state_warning
  border-color: $brand-warning

.crt-episode__inp-conditions
  width: 100%
    &:focus
      box-shadow: $box-shadow-primary

.crt-episode__inp-conditions_state_warning
  border-color: $brand-warning
