.auth-no
  padding: 2px
  text-align: right
 /* display: none*/

.auth-no__welcome
  font-weight: bold

.auth-no__auth-button
  padding: 1px
  color: white

.auth-no__auth-button_social_fb
  background: blue

.auth-no__auth-button_social_goog
  background: red
