@import "../../mixins"
@import "../../variables"
//
// Grid system
// --------------------------------------------------


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.bsp-container
  container-fixed()

  @media (min-width $screen-sm-min)
    width $container-sm
  @media (min-width $screen-md-min)
    width $container-md
  @media (min-width $screen-lg-min)
    width $container-lg
