.auth-profile
  padding: 4px
  display: none

.auth-profile__name
  color: blue
  display: inline-block

.auth-profile__icon
  width: 10px
  height: 10px
  display: inline-block

.auth-profile__settings
  display: inline-block
