.shw-movie-template__preview-img
  width: 100px
  height: 100px
  background: black
  float: right
  display: block

.shw-movie-template__finished-str
  margin-left: 8px

.shw-movie-template__duration-of-episodes-str
  margin-left: 8px
