$prv-img-width = 100px

.shw-movie-template__preview-img
  width: $prv-img-width
  background: black
  float: left
  display: block

.shw-movie-template__header-wrap
  clearfix()

.shw-movie-template__name
  word-wrap: break-word;
  margin-left: $prv-img-width + 16px
  margin-top: 0
  margin-right: 0
  margin-bottom: 0

.shw-movie-template__finished-str
  margin-left: 8px

.shw-movie-template__duration-of-episodes-str
  margin-left: 8px
