.auth-no
  width: 50px
  padding: 2px
  text-align: right
  display: none

.auth-no__icon
  vmg-glyph("\e161")

.auth-no__welcome
  display: none
  transition: width 2s, height 2s, background-color 2s, transform 2s
