@import '../../global'

.auth-no
  width: 50px
  padding: 2px
  text-align: center

.auth-no__icon
  vmg-glyph()
  font-size: 1.4rem

.auth-no__welcome
  font-size: 0.8rem
  transition: width 2s, height 2s, background-color 2s, transform 2s
