@import "../../global"

.page-index
  page()

.page-index__header
  page__header()

.page-index__footer
  page__footer()

// hided elements by default
// sometimes inline elements marked as blocks: display: block
//    this behaviour doesn't support with hided elements at startup
//    with !important tag - we cannot show elements (by jQuery or a style tag)
// some components just removed from ready markup and generates dynamically (like auth-no - depens of session)
.auth-popup
.auth-login__auth-button
.menu-popup
  display: none;