.clearfix:before,
.bsp-container:before,
.clearfix:after,
.bsp-container:after {
  content: " ";
  display: table;
}
.clearfix:after,
.bsp-container:after {
  clear: both;
}
.bsp-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .bsp-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .bsp-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .bsp-container {
    width: 1170px;
  }
}
