@import "../variables"
@import "../mixins"

// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
*
  box-sizing border-box
*:before,
*:after
  box-sizing border-box

.page
  font-family: Helvetica, Arial, sans-serif
  line-height: 2rem
  background: back_color
  margin: 0
  padding: 0

h1,h2,h3,h4,h5,h6
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin: .67rem

start_h_size = 2.5rem

h1
  font-size: start_h_size

h2
  font-size: start_h_size - 0.25

h3
  font-size: start_h_size - 0.5

h4
  font-size: start_h_size - 0.75

h5
  font-size: start_h_size - 1

h6
  font-size: start_h_size - 1.25
